<a href="https://colab.research.google.com/github/mi-ci/GitTest/blob/master/%ED%8C%90%EB%8B%A4%EC%8A%A4%EC%98%88%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd
import numpy as np

In [14]:
data = [91, 2.5, '문자', 4, 5.16]
data2 = [1,2,3]
pd_s1 = pd.Series(data2)
pd_s2 = pd.Series(data)
print(pd_s2)
print(pd_s2.dtype)
print(pd_s1)
print(pd_s1.dtype)
# print(pd_s2.index)
print(pd_s2[[1,2]])

0      91
1     2.5
2      문자
3       4
4    5.16
dtype: object
object
0    1
1    2
2    3
dtype: int64
int64
1    2.5
2     문자
dtype: object

In [15]:
pd.__version__

'1.5.3'

In [20]:
pd_s2[2]

'문자'

In [24]:
a = pd_s2[np.arange(0,5,2)]
print(a)

0      91
2      문자
4    5.16
dtype: object

In [31]:
np.random.seed(0)
a2 = pd.Series(np.random.randint(100,200,size=(10,)))
print(a2)
print(a2>150)
print(a2[a2>150])

0    144
1    147
2    164
3    167
4    167
5    109
6    183
7    121
8    136
9    187
dtype: int64
0    False
1    False
2     True
3     True
4     True
5    False
6     True
7    False
8    False
9     True
dtype: bool
2    164
3    167
4    167
6    183
9    187
dtype: int64

In [49]:
a4 = pd.Series(['마케팅', '경영', '개발', '기획', '인사'], index=['a', 'b', 'c', 'd', 'e'])
# print(a4)
# print(a4['a'])
# print(a4[['b','e']])
# print(a4.values[1:5:3])
print(a4.dtype)
print(a4.ndim)
print(a4.size)
print(a4.shape)

object
1
5
(5,)

In [60]:
a5 = pd.Series(['선화', '경호', np.nan, '소정', '우영'])
a5
# 결측값 찾기 isnull() isna()
# a5.isnull()
# a5[a5.isna()]
# a5[a5.notnull()]
a5[a5.notna()]

0    선화
1    경호
3    소정
4    우영
dtype: object

In [73]:
a6 = pd.Series(np.arange(100,150,10),index=[7,7,7,7,7])
a6.index = list('abcde')
a6['b':'c']
index_list = list('abcd')
a6[index_list]

a    100
b    110
c    120
d    130
dtype: int64

In [76]:
s1 = pd.Series(np.arange(3,12,2),dtype='float32')
s1

0     3.0
1     5.0
2     7.0
3     9.0
4    11.0
dtype: float32

In [77]:
s2 = pd.Series(['가','나','다','라','마'])
print(s2)

0    가
1    나
2    다
3    라
4    마
dtype: object

In [78]:
np.random.seed(0)
sample11 = pd.Series(np.random.randint(100, 200, size=(5,)), index=list('바사아자차'))
sample11

바    144
사    147
아    164
자    167
차    167
dtype: int64